apiVersion: apps/v1
kind: Deployment
metadata:
  name: lite-llm
  labels:
    app: lite-llm
spec:
  replicas: 1
  selector:
    matchLabels:
      app: lite-llm
  template:
    metadata:
      labels:
        app: lite-llm
    spec:
      containers:
        - name: lite-llm
          image: ghcr.io/berriai/litellm:main-stable
          command: ["--port", "4000", "--config", "/etc/config.yaml"]
          ports:
            - containerPort: 4000
          volumeMounts:
            - name: lite-llm-config
              mountPath: /etc/config.yaml

      volumes:
        - name: lite-llm-config
          hostPath:
            path: ./config.yaml
